:root {
  --text-color: #272142;
  --primary-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", serif;
}

h1 {
  font-family: var(--primary-font-family);
  font-weight: normal;
  font-size: 96px;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: var(--primary-font-family);
  font-size: 64px;
  line-height: 1.5;
}

h3 {
  font-family: var(--secondary-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
  color: var(--text-color);
}

h4 {
  font-family: var(--secondary-font-family);
  font-size: 18px;
  font-weight: normal;
  color: var(--text-color);
  text-align: center;
  margin: 80px 0;
}

p {
  font-family: var(--secondary-font-family);
  font-size: 16px;
  --text-color: #272142;
  line-height: 30px;
}

.hero p {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: var(--text-color);
  margin: 0;
}

.hero {
  text-align: center;
  background: #f9f7fe;
  padding: 160px 20px;
}

.btn-navigation {
  font-family: var(--secondary-font-family);
  font-size: 18px;
  line-height: 27px;
  color: white;
  background: #6c63ff;
  border-radius: 4px;
  padding: 15px 40px;
}

.btn-project {
  font-family: var(--secondary-font-family);
  font-size: 16px;
  line-height: 24px;
  color: #6c63ff;
  background: white;
  border: 1px solid #6c63ff;
  border-radius: 4px;
  padding: 15px 25px;
}

.project-description {
  padding: 120px 60px;
}

.about-hero {
  margin-top: 160px;
}

.about-hero-content {
  margin: 30px;
}

.about-hero h1 {
  font-size: 64px;
  font-weight: bold;
}

.about-hero h2 {
  font-family: var(--secondary-font-family);
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  color: var(--text-color);
}

.about-hero p {
  font-family: var(--secondary-font-family);
  font-size: 16px;
  line-height: 2;
  color: var(--text-color);
}

@media (max-width: 960px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 32px;
  }

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 15px;
  }

  .hero p {
    font-size: 25px;
  }

  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }

  .about-hero h1 {
    font-size: 40px;
    font-weight: bold;
  }

  .about-hero {
    margin: 80px;
    padding: 0;
    text-align: center;
  }
}
